<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Swim WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Swim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EACDB3931DC6846100F2F98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EACDB3A71DC6846100F2F98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EACDB3B21DC6846100F2F98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EACDB3BB1DC6846100F2F98E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
